*.class
*.war
/Marketplace WebApp/nbproject/private/*
/Marketplace WebService/nbproject/private/*
/Marketplace IdentityService/nbproject/private/*
/Marketplace WebService/dist/
/Marketplace WebApp/dist/