*.class
*.war
/Marketplace WebApp/nbproject/private/*
/Marketplace WebService/nbproject/private/*
/Marketplace IdentityService/nbproject/private/*
/Marketplace ChatService/nbproject/private/*
/Marketplace ChatService/dist/
/Marketplace IdentityService/dist/